<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="app.silly.bookshop" android:versionCode="9" android:versionName="0.7.0-test.1">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="실리 책방" android:icon="@drawable/ic_library" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:usesCleartextTraffic="true" android:supportsRtl="true">
        <activity android:name=".OfflineActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" android:enableOnBackInvokedCallback="false"/>
        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize" android:configChanges="orientation|screenSize|keyboardHidden" android:enableOnBackInvokedCallback="false">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    </application>
</manifest>
